
  .carouselwrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 900px;
    height: 250px;
    margin: 20px auto;
    overflow: visible;
    border-radius: 20px;
    background-color: #094E51;
  }
  
  .slidercontainer {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    height: 250px;
    scroll-behavior: smooth;
    border-radius: 20px;
    background-color: #094E51;
    
  }
  
  .sliderimage {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 10px;
    border-radius: 20px;
    object-fit: cover;
  }
  
  .leftarrow, .rightarrow {
    position: absolute;
    background-color: #FFA500;
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 24px;
    z-index: 10;
    border-radius: 10px;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
  }
  
  .leftarrow {
    left: -40px;
  }
  
  .rightarrow {
    right: -40px;
  }
  
  .leftarrow:hover, .rightarrow:hover {
    background-color: #ff8800;
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .carouselwrapper {
      width: 100%;
      height: 200px;
    }
  
    .slidercontainer {
      height: 200px;
    }
  
    .sliderimage {
      max-width: 250px;
    }
  
    .leftarrow, .rightarrow {
      padding: 8px 15px;
      font-size: 18px;
    }
  
    .leftarrow {
      left: 5px;
    }
  
    .rightarrow {
      right: 5px;
    }
  }
  