footer {
    background: #094E51;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

button {
    background: #FFA500;
    color: #36454F;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
}
