.header {
    display: flex;
    align-items: center;
}

.profilephoto img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.navlist {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navlist li {
    margin-right: 100px;
}

.navlist li a {
    text-decoration: none;
    color: rgb(240, 219, 30);
    transition: color 0.3s ease;
}

.navlist li a:hover {
    color: rgb(255, 255, 255);
}

.navlist li a.active {
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.navlist li button {
    background: none;
    border: none;
    color: rgb(240, 219, 30);
    cursor: pointer;
    font-size: 20px;
    transition: color 0.3s ease;
}

.navlist li button:hover {
    color: rgb(255, 255, 255);
}

.navlist li button:focus {
    outline: none;
}

.navlist li button.active {
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #094E61;
  padding: 10px;
  height: 60px;
  
}
