/* src/components/ResetPassword.css */

.reset-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f4f6;
}

.reset-form {
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    padding-left: 20px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
    position: relative;
}

label {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #cbd5e1;
    font-size: 16px;
}

.password-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.submit-btn {
    background-color: #ffa500;
    color: white;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    border: none;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #094e51;
    color: white;
}
