.navbar {
  width: 100%;
  background-color: #094E51;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  opacity: 0.4;
}

.navbar-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-items {
  display: flex;
  align-items: center;
  /* Space items evenly */
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
}

.profile-section {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 8px;
  border-radius: 50%;
}

.stickman {
  /* The stickman is not on the background color */
  background-color: white;
  border-radius: 50%;
}

.nav-button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: all 0.2s ease;
  background-color: #FFFFFF;
  color: black;
  font-weight: 500;
  /* Add some noticeable spacing */
  margin: 0 10px;
}

.nav-button:hover {
  opacity: 0.8;
}

.nav-button.active {
  background-color: #FFA500;
  color:black;
}